@model object

<html>
<head>
	<title>@StyleContext.GetTranslation(Dom.Translation.Result.Title)</title>
</head>
<body>
	<h3 align="center"> Регіон Тернопільський. Сезон 2016-Дор Льот Меджибіж, від 03.05.2016, 07:00:00 </h3>
	<table cellpadding="0" rules="all" cellspacing="0" calls="13" align="center" border="2" width="100%">
		<tr>
			<th>Місце</th>
			<th>Рід</th>
			<th>Відстань</th>
			<th>Приліт</th>
			<th>Час льоту</th>
			<th>Швидкість</th>
			<th>Бал</th>
			<th>Загальний коефіцієнт</th>
			<th>Конф. клуб </th>
			<th>Ас</th>
			<th>Голубівник</th>
			<th>Код</th>
			<th>Клуб</th>
		</tr>
		<tr align="center">
			<td>1</td>
			<td>1</td>
			<td>104,774</td>
			<td>08:13:53</td>
			<td>1:13:53</td>
			<td>1 418,10</td>
			<td>100,00</td>
			<td>25,62</td>
			<td>1,38</td>
			<td>1</td>
			<td>Тичковський О.</td>
			<td>282024</td>
			<td>Хоростків</td>
		</tr>
		<tr align="center">
			<td>1</td>
			<td>1</td>
			<td>104,774</td>
			<td>08:13:53</td>
			<td>1:13:53</td>
			<td>1 418,10</td>
			<td>100,00</td>
			<td>25,62</td>
			<td>1,38</td>
			<td>1</td>
			<td>Тичковський О.</td>
			<td>282024</td>
			<td>Хоростків</td>
		</tr>
	</table>
	<p align="center">
		07.06.2016 7:34:37
	</p>
</body>
</html>