<div>
	<ul style="list-style: none">
		<li>На даний час сайт працює на тестовому хостингу із тестовими даними.</li>
		<li>Офіційний реліз заплановано на 1 березня 2017 року.</li>
		<li>
			Після релізу сайт буде доступний за посиланням
			<a href="http://rpi.in.ua" target="_blank">rpi.in.ua</a>
		</li>
		<li>
			@StyleContext.GetTranslation(Dom.Translation.RP.QuestionsAndPropositions)
			<a href="mailto:@StyleContext.GetTranslation(Dom.Translation.RP.Email)">@StyleContext.GetTranslation(Dom.Translation.RP.Email)</a>
		</li>
	</ul>
</div>
