<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="Platform"
        connectionString="Data Source=SQL5034.SmarterASP.NET;Initial Catalog=DB_A15C96_aslobodian;User Id=DB_A15C96_aslobodian_admin;Password=18s324j_sv;MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="404" redirect="/error/pagenotfound" />
			<error statusCode="500" redirect="/error/pagenotfound" />
		</customErrors>
	</system.web>
</configuration>